@import url("../font/stylesheet.css");

body {
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.wrapper{
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px 0;
    font-size: 14px;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 144px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    gap: 40px;
    padding-right: 130px;
    font-size: 17px;
}
.header-link {
    text-decoration: none;
    color: #000000;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.header-link:hover {
    color: #666666;
}
.header-info {
    display: flex;
    align-items: center;
}
.bell, .photo-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn {
    background-color: transparent;
    border: none;
}
svg {
    display: block;
    width: 22px;
    height: 28px;
    transition: all .2s ease;
}
svg:hover {
    stroke: #666666;
}
.ph-and-ach {
    display: flex;
    gap: 300px;
}
.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: fit-content;
    margin-top: 40px;
}
.photo-profile {
    width: 40px;
    height: 40px;
    padding-left: 10px;
}
.photo-main {
    height: 160px;
    width: 160px;
}
.name-user {
    color: #FFFFFF;
    background-color: #3F9BF0;
    max-width: fit-content;
    padding: 5px 30px;
    font-size: 23px;
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    margin-top: 145px;
}
.ach-title {
    color: #3F9BF0;
    margin: 60px 0 30px;
    font-size: 20px;
}
.icons {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
}
.icons:last-child {
    align-items: flex-start;
}
.ach-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.img-icon {
    width: 70px;
    height: 70px;
}
.ach-name {
    max-width: 65px;
    font-size: 13px;
}
.ach-line {
    border: 2px solid #3F9BF0;
    width: 30%;
    margin-left: 20px;
    position: absolute;
    margin-top: 35px;
}
.level {
    display: flex;
    margin-top: 15px;
    align-items: center;
    gap: 35px;
}
.pic-coin {
    width: 30px;
    height: 30px;
}
.coin {
    display: flex;
    align-items: center;
}
.count-coin {
    padding-left: 5px;
    color: #3F9BF0;
}



.progressbar
{
    position: absolute;
    overflow: hidden;
    filter: drop-shadow(5px 7px 2px rgba(0, 0, 0, 0.25));
}

.progressbar progress
{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.progress-bar
{
    overflow: hidden;
    background: #3F9BF0;
    width: 144px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-value
{
    color: #333;
    display: block;
    line-height: 21px;
    text-align: center;
}

.progress-bg
{
    background: #FCE185;
    position: relative;
    height: 20px;
    width: 250px;
    border-radius: 5px;
    overflow: hidden;
}
.progressbar progress[value="1"] + .progress-value:before 
{
    content: "1%"; 
}
.progressbar progress[value="1"] ~ .progress-bg .progress-bar 
{
    width: 1%; 
}




.progress-title {
    margin: 30px 0 15px;
    color: #3F9BF0;
    font-size: 18px;
}
.val-progress li::before {
    content: '/';
    position: relative;
    left: -2px;
    bottom: 1px;
    pointer-events: none;
}
.val-progress {
    list-style-type: none;
    display: flex;
    gap: 4px;
    position: relative;
    font-size: 15px;
    padding-left: 180px;
    padding-top: 1px;
}
.val-progress li:first-child::before {
    display: none;
}
.btns {
    font-size: 13px;
    margin-bottom: 15px;
}
.among-friend {
    color: #FFFFFF;
    background-color: #3F9BF0;
    padding: 7px 20px;
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
    border-color: #3F9BF0;
    border-width: 1px;
    cursor: pointer;
}
.in-Russia {
    background-color: #FFFFFF;
    padding: 7px 30px;
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.25);
    border-width: 1px;
    cursor: pointer;
}
.rang-level {
    list-style-type: none;
    margin: 0;
}
.rang-box {
    display: flex;
    background-color: #D6F3FF;
    padding: 15px 50px;
}
.rang-name {
    margin: 0;
    padding-left: 17px;
    max-width: 110px;
}
.rang-group {
    margin-bottom: 15px;
}
.rang-in-Russia {
    display: none;
}
.butt {
    font-size: 13px;
}
.down {
    display: flex;
    justify-content: space-between;
}
.news-title {
    font-weight: 400;
    font-size: 18px;
}
.filter {
    color: #505050;
    font-size: 14px;
}
.news-btn {
    background-color: transparent;
    border: none;
    max-width: 125px;
    text-align: start;
    margin-right: 20px;
    cursor: pointer;
}
.news-list {
    padding: 15px 0 0 15px;
}
.news-list-past {
    padding: 15px 0 0 15px;
    display: none;
}
.news {
    background: rgba(204, 204, 204, 0.28);
    padding: 20px 30px 30px;
}
.modal {
    position: absolute;
    outline: 9999px solid rgba(0,0,0,0.5);
    display: none;
    z-index: 1;
    background-color: #FFFFFF;
    right: 300px;
    height: 400px;
    width: 318px;
}
.modal::after {
    content: '';
    border: 20px solid transparent;
    border-bottom: 30px solid #FFFFFF;
    position: absolute;
    top: -48px;
    right: 40px;
}
.head-dialoges {
    display: flex;
    gap: 8px;
    background-color: #FFFFFF;
    padding: 20px;
}
.msg-block {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #3F9BF0;
}
.active1 {
    color: #000000;
}
.ava-friend {
    height: 60px;
    width: 60px;
}
.friends-block {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.name-friend {
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 5px;
}
.text-friend {
    font-size: 15px;
    color: #505050;
    margin: 0;
}
.chats {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 20px 20px;
}
.name-and-text {
    display: flex;
    flex-direction: column;
    text-align: start;
}
.top {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}
.chat_photo {
    width: 50px;
    height: 50px;
}
.name_chat_fr {
    font-weight: 400;
    font-size: 19px;
}
.actions {
    width: 35px;
    height: 10px;
}
.btn-actions {
    background-color: transparent;
    height: 23px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}
.chat_with {
    display: none;
}
.smile {
    height: 20px;
    width: 20px;
}
.screp {
    height: 20px;
    width: 16px;
}
.micro {
    height: 20px;
    width: 15px;
}
.btn-smile, .window_act_btn {
    background-color: transparent;
    border: none;
}
.bottom {
    display: flex;
    position: absolute;
    bottom: 15px;
}
.window_act {
    background-color: #D6F3FF;
    position: absolute;
    flex-direction: column;
    padding: 8px;
    gap: 5px;
    right: -190px;
    top: 15px;
    display: none;
}
.window_act_btn {
    text-align: start;
    cursor: pointer;
}
.window_act_btn::after {
    content: '';
    border: 20px solid transparent;
    border-bottom: 30px solid #D6F3FF;
    position: absolute;
    top: -5px;
    left: -45px;
    rotate: 270deg;
}





/*видео*/
.search-box {
    display: flex;
    position: absolute;
    background-color: #CCCCCC;
    height: 25px;
    border-radius: 10px;
    padding: 13px;
    align-items: center;
    margin-left: 880px;
    margin-top: 15px;
}
.search-photo {
    width: 26px;
    height: 24px;
}
.search-text {
    border: none;
    outline: none;
    background: none;
    padding: 0;
}
.main {
    display: flex;
    padding-top: 100px;
    gap: 40px;
}
.main-link {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.main-link p {
    margin: 0;
}
.active {
    border-left: 2px solid #000000;
}
.reaction {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
}
.react-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.react-btn img {
    width: 30px;
    height: 30px;
}
.reaction button:last-child {
    position: absolute;
    bottom: 0;
}
.arrow {
    display: flex;
    justify-content: center;
}
.arrow-pic {
    width: 40px;
    height: 25px;
}
.arrow_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.link-left {
    text-decoration: none;
    color: #000000;
}
.my_crs {
    padding-left: 8px;
}
.recommend {
    padding-left: 10px;
}